.jg-headless article {
  max-width: 100% !important;
}
.jg-headless {
  border: 1px solid red;
  padding: 0 1rem;
}

.jg-with-sidebar .JGUI {
  position: relative;
  min-height: 15rem;
}

.jg-with-sidebar .JGUI > aside, .jg-with-sidebar .JGUI > nav {
  position: absolute !important;
  bottom: auto !important;
}

.JumboGrove .JGHTMLItem p:first-child {
  margin-top: 1rem;
}

.demo-pink {
  color: fuchsia;
}

