.jg-headless article {
  max-width: 100% !important;
}
.jg-headless {
  border: 1px solid red;
  padding: 0 1rem;
}

.JumboGrove .JGHTMLItem p:first-child {
  margin-top: 1rem;
}

.demo-pink {
  color: fuchsia;
}

